/gcp-creds.json
/kubeconfig-*.yaml
/aws-creds.conf
/traces.json
/azure-creds.json
/gke_gcloud_auth_plugin_cache
/image-builder
/account.json
/.env

# Ignore DevSpace cache and log folder
.devspace/

# Ignore VSCode settings
.vscode/
.odo