/gcp-creds.json
/kubeconfig*.yaml
/aws-creds.conf
/traces.json
/azure-*.json
/gke_gcloud_auth_plugin_cache
/image-builder
/account.json
/.env
/custodian
/output
/*.log
/cncf-demo-app
/eksctl-config*.yaml
/devbox.lock

# Ignore DevSpace cache and log folder
.devspace/

# Ignore VSCode settings
.vscode/
.odo